# Visualization OpenDOSM Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [2]:
df1 = pd.ExcelFile('../data/dosm_demand.xlsx')
df1.sheet_names

['sector',
 'skill',
 'job_eco_act',
 'vacancy_ads_sector',
 'vacancy_ads_state',
 'sector_wage_prob']

In [3]:
df2 = pd.ExcelFile('../data/dosm_supply.xlsx')
df2.sheet_names

['state',
 'ethnic',
 'unemploy_cat',
 'age',
 'edu',
 'occ',
 'status',
 'skill',
 'reson_not_work']

In [5]:
sector = df1.parse('sector')
sector.head()

,category,total,agriculture,mining,manufacturing,construction,services
0,Jobs,8826.90,482.00,80.30,2428.60,1259.10,4576.90
1,Filled jobs,8637.30,451.30,79.90,2320.70,1235.30,4550.10
2,Vacancies,189.60,30.70,0.40,108.00,23.70,26.80
3,Jobs created,31.94,1.65,0.12,10.05,3.62,16.49
4,Rate of Filled Jobs,97.90,93.60,99.50,95.60,98.10,99.40